<%= form_with(model: invoice, html: { class: 'row g-3' }) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12">
    <%= form.label :customer_id, class: 'form-label' %>
    <%= form.select(:customer_id, options_for_select(@customers.map{ |c| [c.name, c.id] }), {include_blank: true}, class: 'form-select') %>
  </div>

  <div class="col-md-12">
    <%= form.label :due_date, class: 'form-label' %>
    <%= form.date_select :due_date, class: 'form-select' %>
  </div>

  <div class="col-12">
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
